# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Rust / Odra
target/
**/*.wasm

# Environment & Secrets
.env
.env.*
*.pem
*.key
*.log
Account*

# Next.js
.next/
out/
build/

# Python / General
.pytest_cache/
.coverage
.DS_Store

# Large binaries / toolchain
binaryen-version_*/
*.tar.gz
*.a
